In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import pandas as pd

# Assuming the file is in the Kaggle input directory
train_data_path = "/kaggle/input/titanic/train.csv"

# Read the CSV file into a DataFrame
train_data = pd.read_csv(train_data_path)

# Display the first few rows of the DataFrame
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:


# Assuming the file is in the Kaggle input directory
test_data_path = "/kaggle/input/titanic/test.csv"

# Read the CSV file into a DataFrame
test_data = pd.read_csv(test_data_path)

# Display the first few rows of the DataFrame
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:

# Assuming 'train_data' is already loaded

# Calculate the survival rate for women
rate_women = train_data[train_data['Sex'] == 'female']['Survived'].mean()

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
rate_men = train_data[train_data['Sex'] == 'male']['Survived'].mean()

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [6]:
# Import necessary libraries
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

# Assuming 'train_data' and 'test_data' are already loaded

# Define the target variable 'y'
y = train_data["Survived"]

# Define the features used for training
features = ["Pclass", "Sex", "SibSp", "Parch"]

# Use one-hot encoding to convert categorical variables into numerical format
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

# Create a Random Forest Classifier model
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

# Train the model using the training data
model.fit(X, y)

# Make predictions on the test data
predictions = model.predict(X_test)

# Create a DataFrame with 'PassengerId' and 'Survived' columns for submission
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

# Save the DataFrame to a CSV file
output.to_csv('submission.csv', index=False)

# Print a success message
print("Your submission was successfully saved!")

Your submission was successfully saved!